extends layout

block content
    h1.
        User List
    ul
        - if (typeof(users) !== 'undefined') {
            each user, i in users
                li
                    a(href="mailto:#{user.email}")= user.username
        -}